/* My custom */

.imgProfile {
    max-width: 158px;
}

.education div .edu-text-box:not(:last-child) {
    margin: 0 0 2.5rem 0;
}

.fa-github:hover {
    color: red !important;
}

.h-full {
    height: 100% !important;
}

.w-full {
    width: 100% !important;
}

.text-justify {
    text-align: justify !important;
}